<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%= title %> 是Xocde的中文翻译网站</p>
    <a href="http://help.apple.com/xcode/mac/8.0/">官方链接</a>>
  </body>
</html>
